@use '../../partials/colors' as *;
@use '../../partials/variables' as *;
@use '../../partials/typographys' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;


.upload{
    position: relative;
    @include wrapper-sidespace;

    @include tablet{
        margin-bottom: $max-space*5;
    }

    @include desktop{
        margin-bottom: $max-space*10;
    }
    &__flex {
        display: flex;
    }

    &__title{
        padding: $regular-space 0 $medium-space;
        
        @include tablet{
            border-bottom:$divider;
            padding-top: $regular-space*2
        }
    }

    &__label{
        font-size: $mobile-label-font;
        font-weight: $weight-demi;
        color: $primary-neutral-color;
    }

    &__image{
        width: 100%;
        margin-bottom: $medium-space;
        display: block;
        border-radius: 10px;
    }

    &__flex-two{
        @include flex-column;

        @include tablet{
            padding-top: $max-space;
        }

        @include desktop{
            @include flex-row{
                flex-wrap: wrap;
            }
            
        }

        &-left{
            @include tablet{
                width:60%;
            }
    
            @include desktop{
                width:35%;
            }
        }

        &-right{
            @include desktop{
                margin-left: $regular-space;
                flex-grow: 2;
            }
        }
    }

    &__input, &__textarea{
        @include formfield;
        margin-bottom: $regular-space;
        width: 100%;

        @include tablet{
            width: 100%;
        }
    }

    &__textarea{
        margin-bottom: $medium-space;
        height:8.5rem;

        @include tablet{
            margin-bottom: $max-space;
        }
    }

    &__action{
        @include flex-column;

        @include tablet {
            @include flex-row{
                gap:$max-space;
                flex-direction: row-reverse;
            }
            border-top: $divider;
            padding-top: $max-space;
        }

        @include desktop{
            width: 100%;
        }
    }

    &__button-publish{
        @include button;

        @include tablet{
            width: 10rem;
        }
    }

    &__link{
        text-decoration: none;
        font-size: $mobile-label-font;
        font-weight: $weight-demi;
        line-height: $mobile-label-line-height;
        color:$primary-color;
        background-color: rgba(255, 255, 255, 0);
        margin: $regular-space auto;
        border: none;

        @include tablet{
            margin: auto 0;
        }
    }

}
